:root {
  --green: rgb(123, 255, 0);
  --font: "Press Start 2P", cursive;
  font-family: var(--font);
  font-size: 16px;
  color: var(--green);
  scroll-behavior: smooth;
}
body {
  margin: 100px;
  background-color: black;
}
/* HEADER */
nav {
  justify-content: center;
  position: relative;
}
.logoCont img {
  max-width: 100px;
}
.collapsableMenu {
  position: absolute;
  right: 0;
  top: 0;
}
.collapsableMenu input {
  display: none;
}
.collapsableMenu input:checked ~ .menuContent {
  max-height: 100%;
}
.collapsableMenu label {
  cursor: pointer;
  float: right;
  padding-left: 10px;
}
.collapsableMenu .fa-hamburger {
  color: var(--green);
  font-size: 40px;
  transition: 0.5s;
}
.collapsableMenu .fa-hamburger:hover {
  color: white;
  transition: 0.5s;
}
.collapsableMenu .menuContent {
  max-height: 0;
  overflow: hidden;
}
.menuContent {
  margin: 0;
}
.menuContent ul {
  list-style-type: none;
  padding: 0;
}
.menuContent a {
  display: block;
  padding: 0 10px 10px 0;
  text-decoration: none;
  font-size: 20px;
  color: var(--green);
  transition: 0.5s;
}
.menuContent a:hover {
  color: white;
  transition: 0.5s;
}
/* SECTIONS */
section {
  padding: 10% 0 10% 0;
  align-items: center;
}
/* HELLO WORLD LANDING */
.landingCont {
  height: 80vh;
  min-height: 500px;
  display: flex;
  border-radius: 10px;
  background-image: url(images/ComputerScreen.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
}
#helloCont h1 {
  color: var(--green);
}
.nextBtnCont .fa-chevron-down {
  color: var(--green);
  font-size: 40px;
  transition: 0.5s;
}
.nextBtnCont .fa-chevron-down:hover {
  color: white;
  transition: 0.5s;
}
#nextSectionBtn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
#nextSectionBtn:hover,
#nextSectionBtn:focus,
#nextSectionBtn:active {
  transform: translateY(8px);
}
/* CONTAINERS AND COLUMNS */
.container {
  display: flex;
  border-radius: 10px;
  border: 3px solid var(--green);
  padding: 30px;
}
.col {
  display: flex;
  flex-direction: column;
}
.container h2 {
  color: white;
}

/* ABOUT ME */
.wrapper {
  display: flex;
  justify-content: space-between;
}
.aboutMeCont {
  min-height: 500px;
  width: 50%;
  box-shadow: -10px 10px white;
}
.profImgTextCont {
  position: relative;
  justify-content: center;
}
.textCont {
  position: absolute;
  bottom: 45%;
  left: 75%;
  background-color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  width: 150px;
  color: var(--green);
  text-transform: uppercase;
  font-size: 14px;
  border: 3px solid var(--green);
}
.textCont p {
  margin: 10px;
}
.profileImgCont {
  text-align: right;
  border: 3px solid var(--green);
  border-radius: 10px;
  box-shadow: -10px 10px white;
  overflow: hidden;
}
.profileImgCont img {
  width: 300px;
}
/* MY SKILLS SECTION */
.mySkillsCont {
  box-shadow: 10px 10px white;
}
.confettiBtnsCont {
  text-align: center;
}
.confettiBtn {
  border: none;
  background-color: var(--green);
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-family: var(--font);
  margin: 10px;
  box-shadow: inset -2px -2px black, 0 4px white;
  transition: 0.3s;
  padding: 10px;
}
.confettiBtn:hover {
  background-color: rgb(195, 255, 139);
  cursor: pointer;
}
.confettiBtn:active {
  box-shadow: inset -2px -2px rgb(195, 255, 139), 0 2px white;
  transition: 0.1s;
}
/* RECENT PROJECTS */
.p1Cont {
  box-shadow: -10px 10px white;
}
.projectCont {
  border: 1px solid white;
}
.projectCont img {
  width: 150px;
  background-color: white;
}
@media screen and (max-width: 1135px) {
  body {
    background-color: white;
  }
}
