:root {
  --green: rgb(123, 255, 0);
  font-family: "Press Start 2P", cursive;
}
body {
  margin: 100px;
  background-color: black;
  /* padding: 100px; */
}
/* .imgCont {
  background-color: pink;
} */
.imgCont img {
  max-width: 100px;
  /* overflow: hidden; */
}
.collapsableMenu {
  background-color: var(--green);
  position: absolute;
  right: 100px;
  top: 100px;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  /* border-bottom: 1px solid #cde700; */
  /* box-shadow: 1px 2px 3px; */
}
input {
  display: none;
}
/* input:checked {
  display: none;
} */
/* Toggle Effect */
/* input:checked ~ label {
  background-image: url(close.png);
} */
input:checked ~ .menuContent {
  max-height: 100%;
}
.collapsableMenu label {
  display: block;
  /* height: 50px; */
  cursor: pointer;
  /* background: url(menu.png) no-repeat left center; */
  float: right;
  padding-left: 10px;
}
.fa-hamburger {
  color: white;
  font-size: 40px;
  transition: 0.5s;
}
.fa-hamburger:hover {
  color: black;
  transition: 0.5s;
}
.menuContent {
  max-height: 0;
  overflow: hidden;
  padding: 40px 0 0 0;
  /* font-family: "Oswald", sans-serif; */
  /* padding: 0 0 0 50px; */
}
.menuContent ul {
  list-style-type: none;
  padding: 0;
}
.menuContent a {
  display: block;
  padding: 0 10px 10px 0;
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: 0.5s;
}
.menuContent a:hover {
  color: white;
  transition: 0.5s;
}
/* #helloSection {
  background-color: pink;
} */
.landingCont {
  min-height: 500px;
  display: flex;
  border-radius: 10px;
  margin: 30px auto;
  overflow: hidden;
  background-image: url(images/ComputerScreen.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
}
/* .cont1 {
  background-image: url(images/ComputerScreen.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75vh;
  width: 100%;
} */
#helloCont h1 {
  color: var(--green);
}
.fa-chevron-down {
  color: var(--green);
  font-size: 40px;
  transition: 0.5s;
}
.fa-chevron-down:hover {
  color: white;
  transition: 0.5s;
}
#nextSectionBtn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#nextSectionBtn:hover,
#nextSectionBtn:focus,
#nextSectionBtn:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.container {
  min-height: 500px;
  display: flex;
  border-radius: 10px;
  margin: 100px auto;
  overflow: hidden;
  border: 3px solid var(--green);
}
.cont1 {
  box-shadow: 20px 20px white;
}
.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}
.profImgTextCont {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--green); */
  /* margin: 30px; */
}
/* .profileImgCont {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.textCont {
  position: absolute;
  bottom: 45%;
  left: 65%;
  background-color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  /* height: 175px; */
  width: 150px;
  color: var(--green);
  font-size: 20px;
  border: 3px solid var(--green);
  /* padding: 10px; */
}
.textCont p {
  margin: 10px;
}
.profileImgCont img {
  width: 300px;
  border: 15px solid white;
  border-radius: 10px;
}
.aboutMeCont {
  background-color: var(--green);
}
.cont2 {
  box-shadow: -20px 20px white;
}
@media screen and (max-width: 1135px) {
  body {
    background-color: white;
  }
}
