:root {
  --green: rgb(123, 255, 0);
  --font: "Press Start 2P", cursive;
  font-family: var(--font);
  font-size: 16px;
  color: var(--green);
  scroll-behavior: smooth;
}
body {
  background-color: #0f1819;
  line-height: 25px;
  max-width: 1000px;
  padding: 10px 10px 30px;
  margin: 0 auto;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
}
.logo-container img {
  max-width: 100px;
}
.collapsible-menu-container {
  text-align: right;
}
.collapsible-menu-trigger {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--green);
  font-size: 40px;
  font-family: var(--font);
  transition: 0.5s;
}
.collapsible-menu-trigger:hover {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.collapsible-menu-content {
  list-style: none;
  margin-top: 10px;
}
.collapsible-menu-content a {
  text-decoration: none;
  color: var(--green);
  transition: 0.5s;
}
.collapsible-menu-content a:hover {
  color: white;
  transition: 0.5s;
}

/* HELLO WORLD LANDING */
.landing-container {
  height: 80vh;
  min-height: 500px;
  display: flex;
  background-image: url(images/computer-screen.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
#hello {
  color: var(--green);
  border-right: 0.15em solid var(--green); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: blink-caret 0.4s step-end infinite;
  width: 280px;
  text-align: center;
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--green);
  }
}

/* GENERAL */
section {
  margin: 10% 0 10% 0;
}
.hidden {
  visibility: hidden;
}
.main-container {
  display: flex;
  border-radius: 10px;
  border: 3px solid var(--green);
  padding: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px white;
}
.col {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* BUTTONS */
.button,
.project button {
  border: none;
  margin: 10px;
  padding: 10px;
  background-color: var(--green);
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-family: var(--font);
  transition: 0.5s;
  align-items: center;
  box-shadow: 0 4px white;
}
.button:hover,
.project button:hover {
  background-color: rgb(93, 131, 57);
  cursor: pointer;
  transition: 0.5s;
}
.button:active,
.project button:active {
  background-color: var(--green);
  transition: 0.5s;
  transform: translateY(4px);
  box-shadow: unset;
}

/* NEXT SECTION ARROWS */
.next-btn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-out;
  color: var(--green);
}
.next-btn .fa-chevron-down,
.next-btn .fa-chevron-up {
  font-size: 40px;
  transition: 0.5s;
}
.next-btn .fa-chevron-down:hover,
.next-btn .fa-chevron-up:hover {
  color: white;
  transition: 0.5s;
}
.next-btn:hover,
.next-btn:focus,
.next-btn:active {
  transform: translateY(8px);
}

/* ABOUT ME */
.about-me {
  padding-top: 10px;
}
.portrait {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* SKILLS SECTION */
.skills button {
  max-width: fit-content;
}

/* RECENT PROJECTS */
.project {
  display: flex;
  justify-content: space-evenly;
}
.project .col {
  height: 325px;
  justify-content: space-between;
  transition: 0.5s;
  text-align: center;
}
.project .col:hover {
  transform: scale(110%);
  transition: 0.5s;
}
#projectThree .image-container {
  background: url(images/number-game-live-site.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 250px;
  width: 250px;
}

/* ADD ME */
.add-me .main-container {
  justify-content: space-evenly;
}
